:root {
    --theme-button-hover-background-color: #505060;
    --theme-button-color: #f0f0f0;
    --theme-button-background-color: #0f0f1f;
}
    :root[data-theme="dark"] {
        --theme-button-hover-background-color: #e0ffe0;
        --theme-button-background-color: #f0fff0;
        --theme-button-color: #0f0f0f;
    }
.theme-button {
    margin: 0.5%;
    padding: 1.75vh 2vw;
    font-size: 1em;
    border-radius: 1vw;
    border-style: none;
    background-color: var(--theme-button-background-color);
    color: var(--theme-button-color);
    user-select: none;
}
.theme-button:active{
    transform:scale(0.9);
}
@media(pointer:fine) {
    .theme-button:hover {
        background-color: var(--theme-button-hover-background-color);
    }
}
.empty-list {
    text-align: center;
    margin: 5%;
    font-size: 5vw;
    padding: 5vh 0.5vw;
    border-radius: 250px;
    user-select: none;
}
.empty-list {
    background-color: #888888;
}
.loading {
    border-radius: 50%;
    background-image: conic-gradient(#005587 20%, #00000000 20% 50%, #00aaff 50% 70%, #00000000 70% 100%);
    width: 25vmin;
    height: 25vmin;
    margin: auto auto;
    animation: loading-animatio 3.5s linear infinite;
}
@keyframes loading-animatio {
    from {
        transform:rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.error, .error * {
    padding:1%;
    margin: auto auto;
    font-size: max(3.5vmin, 1em);
    text-align: center;
    user-select:none;
}
@media (prefers-color-scheme:dark){
    .error, .error *{
        color:white;
    }

} .error button {
    color: #00aaff;
    background-color: #00000000;
    border-style: none;
    user-select: none;
}

@media (pointer: fine) {
    .error button:hover {
        color: #00bbff;
        background-color: #aaaa990f;
    }
}
    .error button:active {
        color: #0099ee;
        background-color: #aaaa9910;
        transform: translateY(5%);
    }
