:root {
    --error-color: black;
    --error-button-color: #004488;
    --theme-button-hover-background-color: #403420;
    --theme-button-color: black;
    --theme-button-background-color: #aa8b55;
    --empty-list-background-color: #6d9195;
    --empty-list-color: black;
}
    :root[data-theme="dark"] {
        --error-color: white;
        --error-button-color: #004488;
        --theme-button-hover-background-color: #c25c3d;
        --theme-button-color: white;
        --theme-button-background-color: #26120c;
        --empty-list-background-color: #26120c;
        --empty-list-color: white;
    }
.theme-button {
    margin: 0.5%;
    padding: 1.5vh 2vw;
    font-size: 1em;
    border-radius: 1vw;
    border-style: none;
    background-color: var(--theme-button-background-color);
    color: var(--theme-button-color);
    user-select: none;
}
.theme-button:active{
    transform:scale(0.9);
}
@media(pointer:fine) {
    .theme-button:hover {
        background-color: var(--theme-button-hover-background-color);
    }
}
.empty-list {
    text-align: center;
    margin: 5%;
    font-size: 5vw;
    padding: 5vh 0.5vw;
    border-radius: 250px;
    user-select: none;
    background-color: var(--empty-list-background-color);
    color: var(--empty-list-color);
}
.loading {
    border-radius: 50%;
    background-image: conic-gradient(#005587 20%, #00000000 20% 50%, #00aaff 50% 70%, #00000000 70% 100%);
    width: 25vmin;
    height: 25vmin;
    margin: auto auto;
    animation: loading-animatio 3.5s linear infinite;
}
@keyframes loading-animatio {
    from {
        transform:rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.error, .error * {
    padding: 1%;
    margin: auto auto;
    font-size: max(3.5vmin, 1em);
    text-align: center;
    user-select: none;
    color: var(--error-color);
}
.error button {
    color: var(--error-button-color);
    background-color: #00000000;
    border-style: none;
    user-select: none;
    border-radius:5vmin;
}

@media (pointer: fine) {
    .error button:hover {
        background-color: #8888880f;
    }
}
    .error button:active {
        color: #888888;
        transform: translateY(5%);
    }
