.country-list {
    display: flex;
    flex-wrap: wrap;
    margin: 2% 1%;
    padding: 3.5% 1% 1% 1%;
    gap: 2vh 2%;
    justify-content:space-evenly;
    align-items: baseline;
    background-color: #fbfffb;
    border-radius: 25px;
    user-select: none;
}
    .country {
        text-align: left;
        padding: 1%;
        border-radius: 25px;
        border-style: hidden;
        font-size: 2.25vmin;
        color:black;
        background-color: #00000000;
        transition: transform 0.25s ease, background-color 0.25s ease;
    }
@media (pointer: fine) {
    .country:hover {
        transform: scale(1.2) translateY(-10%);
        background-color: #fefeaaf0;
    }
}
    .country:active {
        transform: translateY(7.5%) scale(0.9);
        background-color: #999988;
    }

    .country h1, .country h2, .country h3, .country h4, .country h5, .country h6 {
        margin: 0.25%;
    }

    .flag {
        margin: 1vh 1vw;
        width: 17.5vw;
        height: auto;
        user-select: none;
    }


    .country-details-container {
        padding: 2%;
        margin: 1%;
        border-style: solid;
        border-color: #00aaff0a;
        border-radius: 50px;
        display: flex;
        gap: 2.5%;
        align-content: start;
        flex-wrap: wrap;
        font-size: 1.1em;
    }

        .country-details-container img {
            max-width: 90vw;
            margin: auto;
        }

        .country-details-container h1, .country-details-container h2, .country-details-container h3, .country-details-container h4, .country-details-container h5, .country-details-container h6 {
            text-align: left;
            color: #001144;
            margin: 3% 0;
        }

    .country-details {
        margin: 1%;
        align-content: end;
        font-size: max(1rem,2.75vmin);
    }

.random-country-button {
    color: black;
    padding: 2vh 3vw;
    margin: 0 auto;
    display: block;
    border-radius: 150px;
    border-style: hidden;
    user-select: none;
    background-color: #eeeeee;
}
@media (pointer: fine) {
    .random-country-button:hover {
        background-color: #333344;
        color: #ffffe4;
        transform: scale(1.1);
    }
}
    .random-country-button:active {
        background-color: #6666;
        color: #aaaaaf;
        transform: scale(0.8);
    }
