:root {
    --navbar-background-color: #f4f9ff;
    --navbar-hover-background-color: #85959f;
    --color: black;
}
    :root[data-theme='dark'] {
        --navbar-background-color: #223022;
        --navbar-hover-background-color: #295969;
        --color: #fffafa;
    }
.navbar-container {
    background-color: var(--navbar-background-color);
    color: var(--color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 1% 0 0;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding:0;
    display:inline;
}
    .navbar li {
        display: inline-block;
        padding:2.5vh 2.5vw;
        user-select: none;
        font-size:max(1em,3vmin);
    }

@media (pointer: fine) {
    .navbar li:hover {
        background-color: var(--navbar-hover-background-color);
    }
}