:root {
    --search-bar-button-hover-background-color: #667d80;
    --search-bar-button-background-color: #6d9195;
    --search-bar-button-color: #000000;
    --search-bar-input-color: #000000;
    --search-bar-input-background-color: #b5c7c9;
    --search-bar-input-hover-background-color: #d6fbff;
    --search-bar-input-focus-background-color: #e6fcff;
}
    :root[data-theme='dark'] {
        --search-bar-button-hover-background-color: #667d80;
        --search-bar-button-background-color: #26120c;
        --search-bar-button-color: #f2fcff;
        --search-bar-input-color: #e6f9ff;
        --search-bar-input-background-color: #40261f;
        --search-bar-input-hover-background-color: #331f18;
        --search-bar-input-focus-background-color: #26120c;
    }
.search-bar-container{
    padding:0 0 2% 0;
}

.search-bar {
    padding: 1vh;
    text-align: center;
}

    .search-bar input {
        border-radius: 50px;
        border-style: solid;
        border-color: #00000000;
        color:var(--search-bar-input-color);
        background-color: var(--search-bar-input-background-color);
        height: 5vh;
        width: 20vw;
        min-height: 25px;
        min-width: 200px;
        margin: auto 0.5vw;
        padding: 10px;
    }

@media (pointer: fine) {
    .search-bar input:hover {
        border-style: solid;
        border-color: #888888;
        background-color: var(--search-bar-input-hover-background-color);
    }
}
.search-bar input:focus {
    transform: scale(1.05);
    background-color: var(--search-bar-input-focus-background-color);
}

    .search-bar button, .random-country-button {
        border-radius: 50px;
        padding: max(2.5vmin,20px);
        border-style: hidden;
        background-color: var(--search-bar-button-background-color);
        color: var(--search-bar-button-color);
    }
.search-bar button {
    margin: 0.35%;
}
    .random-country-button{
        margin:0 auto;
        display:block;
    }

@media (pointer: fine) {
    .search-bar button:hover, .random-country-button:hover{
        background-color: var(--search-bar-button-hover-background-color);
        transform: scale(1.05);
    }
}
.search-bar button:active, .random-country-button:active {
    background-color: #666666;
    color: #eeeeee;
    transform: scale(0.95);
}