:root {
    --search-bar-button-hover-background-color: #333333;
    --search-bar-button-hover-color: #ffffff;
    --random-country-button-hover-background-color: #333344;
    --random-country-button-hover-color: #ffffe4;
}
@media(prefers-color-scheme: dark) {
    :root {
        --search-bar-button-hover-background-color: #858090;
        --search-bar-button-hover-color: #000000;
        --random-country-button-hover-background-color: #9999aa;
        --random-country-button-hover-color: #000000;
    }
}
.search-bar {
    padding: 1vh;
    text-align: center;
}

    .search-bar input {
        border-radius: 50px;
        border-style: solid;
        border-color: #cccccc;
        background-color: #cccccc;
        height: 5vh;
        width: 20vw;
        min-height: 25px;
        min-width: 200px;
        margin: auto 0.5vw;
        padding: 10px;
    }

@media (pointer: fine) {
    .search-bar input:hover {
        border-style: solid;
        border-color: #bbbbbb;
        background-color: #d3d3d3;
    }
}
    .search-bar input:focus {
        transform: scale(1.05);
        background-color: #dfdfdf;
    }

    .search-bar button {
        border-radius: 50px;
        padding: max(2.5vmin,20px);
        margin: 0.35%;
        border-style: hidden;
        background-color: #bbbbbb;
        color: #000000;
    }

@media (pointer: fine) {
    .search-bar button:hover {
        background-color: var(--search-bar-button-hover-background-color);
        color: var(--search-bar-button-hover-color);
        transform: scale(1.125);
    }
}
    .search-bar button:active {
        background-color: #666666;
        color: #eeeeee;
        transform: scale(1) translate(0.1vw, 0.1vh);
    }


.random-country-button {
    color: black;
    padding: 2vh 3vw;
    margin: 0 auto;
    display: block;
    border-radius: 150px;
    border-style: hidden;
    user-select: none;
    background-color: #eeeeee;
}

@media (pointer: fine) {
    .random-country-button:hover {
        background-color: var(--random-country-button-hover-background-color);
        color: var(--random-country-button-hover-color);
        transform: scale(1.1);
    }
}

.random-country-button:active {
    background-color: #6666;
    color: #aaaaaf;
    transform: scale(0.8);
}